RewriteEngine On
RewriteCond %{REQUEST_URI} !-f
RewriteCond %{REQUEST_URI} !-d
#RewriteRule ^/([^-]+)-(?:([^-]+)-)?(?:([^-]+)-)?(?:([^-]+)-)?(?:([^-]+)-)?(?:([^-]+)-)?/(.*)$ index.php?t=$9&v[]=$1&v[]=$2&v[]=$3&v[]=$4&v[]=$5&v[]=$6&v[]=$7&v[]=$8
#RewriteRule [?&]v\[\]=$ "" [N]

AddType video/mp4 .mp4
AddType video/mp4 .m4v

# Turn on Expires and set default to 0
ExpiresActive On
ExpiresDefault A0
<FilesMatch "\.(css|ico|js|html)$">
ExpiresDefault A29030400
Header append Cache-Control "public"
</FilesMatch>
