body{
	margin:0;
	padding:0;
	line-height: 1.5em;
}

b{font-size: 110%;}
em{color: red;}

.firstnavbar{
	float:left;
	width: 100%;
	padding-left: 5px;
}

.secondnavbar{
	float:left;
	padding-left:5px;
}

#topsection{
	background: #EAEAEA;
	
}

#topsection h1{
	margin: 0;
	padding-top: 15px;
}

#contentwrapper{
	float: left;
	width: 100%;
}

#contentcolumn{
	margin: 0 175px 0 150px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
}

#leftcolumn{
	width: 100%;
	clear: both;
	margin-left: 0;
	border-bottom: 1px solid #C8FC98;
/*
	float: left;
	width: 150px; 
	margin-left: -100%;
	background: #C8FC98;
	*/
}

#rightcolumn{
	float: left;
	width: 175px; /*Width of right column*/
	margin-left: -175px; /*Set left margin to -(RightColumnWidth)*/
	/* background: #FDE95E; */
}

#footer{
	clear: left;
	width: 100%;
	background: #649834;
	color: #FFF;
	text-align: center;
	padding: 4px 0;
}

#footer a{
	color: #FFFF80;
}

.innertube{
	margin: 5px; /*Margins for inner DIV inside each column (to provide padding)*/
	padding: 5px;
	margin-top: 0;
}

/* ####### responsive layout CSS ####### */

@media (max-width: 840px){ /* 1st level responsive layout break point- drop right column down*/

	#leftcolumn{
	margin-left: -100%;
	}
	
	#rightcolumn{
	float: none;
	width: 100%;
	margin-left: 0;
	clear: both;
	}
	
	#contentcolumn{
	margin-right: 0; /*Set margin to LeftColumnWidth*/
	}
}

@media (max-width: 600px){ /* 2nd level responsive layout break point- drop left column down */
	#leftcolumn{
		/* float: none; */
		width: 100%;
		clear: both;
		margin-left: 0;
	}
	
	#contentcolumn{
		margin-left: 0;
	}
	
	.firstnavbar, .secondnavbar{
		width: 100%;
	}
}
