@import url("main.css");
@import url("navi.css");
@import url("forms.css");
@import url("tables.css");
@import url("loginslider.css");
@import url("fancy_checkbox.css");
@import url("fancy_tree.css");
@import url("3col.css");

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
/* Styles */
div.wrapper{
	display:block;
	min-width:320px;
	width:100%;
	max-width:480px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	}
	
.sitelogo img{
	max-height:90px;
	max-width: 200px;
}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
div.wrapper{
	display:block;
	min-width:330px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
div.wrapper{
	display:block;
	width:320px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	}
.sitelogo img{
	max-width: 150px;
	max-height: 30px;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
/* Styles */
div.wrapper{
	display:block;
	min-width:768px;
	width:100%;
	max-width:1280px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	}

}

/* iPads Retina (landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2)
and (min-device-pixel-ratio : 2) {
/* Styles */
div.wrapper{
	display:block;
	min-width:768px;
	width:100%;
	max-width:1024px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	}

}

/* iPads Retina (portrait) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2)
and (min-device-pixel-ratio : 2) {
/* Styles */
div.wrapper{
	display:block;
	min-width:768px;
	width:100%;
	max-width:1024px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	}

.sitelogo img {
	max-width:150px;
	max-height: 30px;
}

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1025px) {
/* Styles */
div.wrapper{
	display:block;
	min-width:1000px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	}

.sitelogo img {
	max-width:300px;
	max-height: 75px;
}

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
div.wrapper{
	display:block;
	width:100%;
	max-width:2200px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	}
.sitelogo img {
	max-width:300px;
	max-height: 75px;
}
}

/* Samsung Galaxy S3 ----------- */
@media
only screen and (-webkit-device-pixel-ratio : 2),
only screen and (min-device-pixel-ratio : 2) {
/* Styles */
div.wrapper{
	display:block;
	min-width:320px;
	width:100%;
	max-width:560px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	}
	
}

body{
	margin:0px;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	font-size:12px;
	font-family:tahoma,arial,sans-serif;
	color:#111111;
	background: #f5f5f5;;
	}

div.wrapper{
	
}
	
.sitelogo img{
	margin:8px;
	max-height:150px;
	max-width:150px;
}

img{
	border: 0px;
}

.col3 img{display:block; margin:0; padding:0; border:none;}
.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart {list-style-type:none; margin:0; padding:0;}
.clear{clear:both;}
br.clear{clear:both; margin-top:-15px;}

a{outline:none; text-decoration:none;}

.fl_left{float:left;}
.fl_right{float:right;}

.imgl, .imgr{border:1px solid #999999; padding:5px;}
.imgl{float:left; margin:0 8px 8px 0; clear:left;}
.imgr{float:right; margin:0 0 8px 8px; clear:right;}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{
	margin:0;
	padding:5px;
	font-size:1.3em;
	font-weight:normal;
	line-height:normal;
	/* font-family:Georgia, "Times New Roman", Times, serif; */
	}
	
.spacer{
	height:15px;
	color:#333333;
}
	
.col0{color:#535353; background-color: #ffffff;}
.col1, .col1 a{color:#767772;background-color:#fefefe;}
.col1 a:hover{color:#223311;}
.col2{color:#333333;}
.col4 a:hover{color:#223311;}
.col3{color:#212121;}
.col4{color:#444444;min-height:350px;}
.col4 a{color:#746550;}
.col5{color:#101010;}
.col5 a{color:#121212;}
.col5 a:hover{color:#FFFFFF;}
.col6, .col6 a{color:##C5D0D5; background-color: #4C7EA5;}

/* ----------------------------------------------Generalise-------------------------------------*/

#header, #topbar, #topnav, #topnav2, #breadcrumb, #footer{
	margin:0px;
	display:block;
	}
	
/* ----------------------------------------------Header-------------------------------------*/

#header{
	padding:5px 5px 20px 5px;
	}

#header #logo{
	display:block;
	float:left;
	max-width:300px;
	min-width:75px;
	overflow:hidden;
	}

#header #logo h1, #header p, #header ul{
	margin:0;
	padding:5px;
	list-style:none;
	line-height:normal;
	}

#header #logo h1{
	font-size:36px;
	}

#header h1 a{
	color:#333333;
	}

#header .fl_right{
	display:block;
	float:right;
	margin:0px;
	padding:5px;
	text-align:right;
	}

#header .fl_right ul{
	margin-bottom:10px;
	}

#header li{
	display:inline;
	margin:0 0 0 8px;
	padding:0 0 0 10px;
	border-left:1px solid #8B785F;
	}

#header li.last{
	margin-right:0;
	padding-right:5px;
	border:none;
	}

/* ----------------------------------------------BreadCrumb-------------------------------------*/

#breadcrumb{
	padding:20px 0;
	border-bottom:1px dotted #CCCCCC;
	}

#breadcrumb a{
	color:#746550;
	background-color:#F8F7DF;
	}

#breadcrumb ul{
	margin:0;
	padding:0;
	list-style:none;
	}

#breadcrumb ul li{display:inline;}
#breadcrumb ul li.current a{text-decoration:underline;}

/* ----------------------------------------------Container-------------------------------------*/

#container{
	padding:20px;
	position:relative;
	margin:0 auto 0;
	display:block;
	}

#container h1, #container h2, #container h3, #container h4, #container h5, #container h6{
	font-size:18px;
	margin:0px;
	color:#333333;
	}

/* ----------------------------------------------Homepage Services-------------------------------------*/

#hpage{
	display:block;
	width:100%;
	margin:10px 0;
	}

#hpage ul{
	margin:0;
	padding:5px;
	border:none;
	list-style:none;
	line-height:normal;
	}

#hpage li{
	display:block;
	float:left;
	width:210px;
	margin:0 40px 0 0;
	padding:0;
	}

#hpage li.last{margin-right:0;}

#hpage li div.imgholder{
	display:block;
	margin:0 0 10px 0;
	padding:4px;
	color:#666666;
	
	border:1px solid #BEBB9E;
	}

#hpage p{
	margin:0 0 10px 0;
	padding:0;
	line-height:1.8em;
	}

#hpage p.readmore{
	display:block;
	margin:0;
	line-height:normal;
	font-weight:bold;
	}

/* ----------------------------------------------Content-------------------------------------*/

#content{
	display:block;
	float:left;
	max-width:600px;
	min-width:200px;
	}

/* ------Comments-----*/

#comments{margin-bottom:40px;}

#comments .commentlist {margin:0; padding:0;}

#comments .commentlist ul{margin:0; padding:0; list-style:none;}

#comments .commentlist li.comment_odd, #comments .commentlist li.comment_even{margin:0 0 10px 0; padding:15px; list-style:none;}

#comments .commentlist li.comment_odd{color:#666666; background-color:#FDFFE1;}
#comments .commentlist li.comment_odd a{color:#746550; background-color:#FDFFE1;}

#comments .commentlist li.comment_even{color:#666666; background-color:#FBFFBF;}
#comments .commentlist li.comment_even a{color:#746550; background-color:#FBFFBF;}

#comments .commentlist .author .name{font-weight:bold;}
#comments .commentlist .submitdate{font-size:smaller;}

#comments .commentlist p{margin:10px 5px 10px 0; padding:0; font-weight: normal;text-transform: none;}

#comments .commentlist li .avatar{float:right; border:1px solid #EEEEEE; margin:0 0 0 10px;}

/* ----------------------------------------------Right Block-------------------------------------*/

#column{
	display:block;
	float:right;
	width:300px;
	}

#column .holder, #column #featured{
	display:block;
	width:300px;
	margin-bottom:40px;
	}

#column .holder p{
	line-height:1.6em;
	}

#column .holder h2.title{
	display:block;
	width:90%;
	height:65px;
	margin:0;
	padding:15px 0 8px 0;
	font-size:20px;
	border-bottom:1px dotted #CCCCCC;
	}

#column .holder h2.title img{
	float:left;
	margin:-15px 8px 0 0;
	padding:5px;
	border:1px solid #CCCCCC;
	}

#column .holder p.readmore{
	display:block;
	width:100%;
	font-weight:bold;
	text-align:right;
	line-height:normal;
	}

#column div.imgholder{
	display:block;
	width:290px;
	margin:0 0 10px 0;
	padding:4px;
	border:1px solid #CCCCCC;
	}
	
/* Featured Block */

#column #featured a{
	color:#746550;
	background-color:#FFFFFF;
	}

#column #featured ul, #column #featured h2, #column #featured p{
	margin:0;
	padding:5px;
	list-style:none;
	}

#column #featured li{
	display:block;
	width:250px;
	margin:0;
	padding:20px 25px;
	color:#2E271D;
	background-color:#FFFFFF;
	}

#column #featured li p{
	line-height:1.6em;
	}

#column #featured li p.imgholder{
	display:block;
	width:240px;
	height:90px;
	margin:20px 0 15px 0;
	padding:4px;
	border:1px solid #CCCCCC;
	}

#column #featured li h2{
	font-size:20px;
	color:#333333;
	background-color:#FFFFFF;
	}

#column #featured p.readmore{
	display:block;
	width:100%;
	margin-top:15px;
	font-weight:bold;
	text-align:right;
	line-height:normal;
	}

/* ----------------------------------------------Footer-------------------------------------*/

#footer{
	padding:20px;
}

#footer h2{
	margin-bottom:15px;
	padding-bottom:8px;
	border-bottom:1px dotted #999999;
	max-width: 75%;
}

#footer p, #footer ul, #footer a{
	margin:0;
	padding:5px;
	font-weight:normal;
	list-style:none;
	line-height:normal;
}
	
#footer .footbox{
	display:block;
	float:right;
	width:190px;
	margin:0px;
	padding:5px;
}

#footer li{
	margin-bottom:3px;
}

#footer .last{
	margin:0;
}

#newsletter{
	display:block;
	float:left;
	width:150px;
}

#newsletter > div{
	position: absolute;
}

/* ----------------------------------------------Copyright-------------------------------------*/

#copyright{
	padding:5px;
	position:relative;
	margin:0 auto 0;
	display:block;
}

#copyright p{
	margin:0;
	padding:15px;
}
