#topnav2{
	height:35px;
	overflow:hidden;
	float:left;
	position: relative;
	left: -25%;
	}

#topnav2 ul{
	display:block;
	height:75px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 0px;
	padding:0;
	list-style:none;
	}
	
#topnav2 li{display:block; float:left;}
#topnav2 li.last{margin-right:0;}

#topnav2 ul li a:link, #topnav2 ul li a:visited{
	display:block;
	float:left;
	height:25px;
	padding:10px 15px 0 15px;
	color:#121212;
	}

#topnav2 ul li a:hover{
	color:#eeeeee;
	background: #2D837D;
	}
	
/*___*/

.col2{
	float:left;
	left: 50%;
	position: relative;
}

#nav_holder{
	width: 100%;
	overflow: hidden;
}

#topnav{
	height:37px;
	font-size : 1.25em;
	float:left;
	position: relative;
	left: -25%;
	}

#topnav ul{
	display: inline-block;
	height:35px;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	padding:0;
	list-style:none;
	width: 100%;
	}

#topnav ul li.active ul{
	display:block;
	position:absolute;
	top:25px;
	left:0;
	width:100%;
	height:40px;
	}

#topnav li{display:block; float:left;}
#topnav li.last{margin-right:0;}

#topnav ul li a:link, #topnav ul li a:visited, #topnav ul li a:hover{
	display:block;
	float:left;
	height:25px;
	padding:7px 15px 1px 15px;
	color: #0D413D;
	}

#topnav ul ul li a:link, #topnav ul ul li a:visited, #topnav ul ul li a:hover{
	float:left;
	height:auto;
	margin:13px 15px 0 0;
	padding:0 16px 0 0;
	margin: 1px;
	color:#0D413D;
	}

#topnav ul ul li.last a{
	margin-right:0;
	padding:0;
	border-right:none;
	}

#topnav ul li.active a, #topnav ul li a:hover{
	color:#eeeeee;
	background: #2D837D;
	}


/*------------------------------------*\
    NAV
\*------------------------------------*/
#nav{
    list-style:none;
    margin-bottom:10px;
    float:left; /* Clear floats */
    width:100%;
    /* Bring the nav above everything else--uncomment if needed.
    position:relative;
    z-index:5;
    */
}
#nav li{
    float:left;
    margin-right:10px;
    position:relative;
}
#nav a{
    display:block;
    text-decoration:none;
}
#nav a:hover{
    text-decoration:underline;
}


/*--- DROPDOWN ---*/
#nav ul{
    background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    list-style:none;
    position:absolute;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
    z-index:5;
}
#nav ul li{
    padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
    float:none;
}
#nav ul a{
    white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav li:hover ul{ /* Display the dropdown on hover */
    left:0; /* Bring back on-screen when needed */
}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    text-decoration:underline;
}
#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration:none;
}
#nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background:#333333;
	color: #eeeeee;
}

/* ----------------------------------------------Column Navigation-------------------------------------*/

#column .subnav{display:block; width:250px; padding:25px; background-color:#FFFFFF; margin-bottom:30px;}

#column .subnav h2{
	margin:0 0 20px 0;
	padding:0 0 14px 0;
	font-size:20px;
	font-weight:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#666666;
	background-color:#FFFFFF;
	line-height:normal;
	border-bottom:1px dotted #666666;
	}

#column .subnav ul{
	margin:0;
	padding:0;
	list-style:none;
	}

#column .subnav li{
	margin:0 0 3px 0;
	padding:0;
	}

#column .subnav ul ul, #column .subnav ul ul ul, #column .subnav ul ul ul ul, #column .subnav ul ul ul ul ul{border-top:none; padding-top:0;}

#column .subnav a{
	display:block;
	margin:0;
	padding:5px 10px 5px 20px;
	color:#777777;
	background:url("../images/purple_file.gif") no-repeat 10px center #FFFFFF;
	text-decoration:none;
	border-bottom:1px dotted #666666;
	}

#column .subnav a:hover{color:#591434; background-color:#FFFFFF;}

#column .subnav ul ul a, #column .subnav ul ul ul a, #column .subnav ul ul ul ul a, #column .subnav ul ul ul ul ul a{background:url("../images/black_file.gif") no-repeat #FFFFFF;}
#column .subnav ul ul a{padding-left:40px; background-position:30px center;}
#column .subnav ul ul ul a{padding-left:50px; background-position:40px center;}
#column .subnav ul ul ul ul a{padding-left:60px; background-position:50px center;}
#column .subnav ul ul ul ul ul a{padding-left:70px; background-position:60px center;}
